<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="layout_brief">%highlight{%r ms [%p] %C{1}:%M - %msg%n}</Property>
        <Property name="layout_full">%d{ISO8601} [%p] %C{3}:%M - %m%n </Property>
        <property name="filePattern">${date:yyyy-MM-dd-HH_mm_ss}</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" >
            <PatternLayout pattern="${layout_brief}"/>
        </Console>
        <File name="LogFile" fileName="logs/uav_controller_${filePattern}.log" append="false" createOnDemand="true" immediateFlush="true">
            <PatternLayout pattern="${layout_full}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="TRACE_TO_FILE" level="trace" additivity="false">
            <AppenderRef ref="LogFile"/>
        </Logger>
        <logger name="TRACE_TO_CONSOLE" level="trace" additivity="false">
            <AppenderRef ref="Console" />
        </logger>
        <Logger name="DEBUG_TO_CONSOLE" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="INFO_TO_CONSOLE" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>