@import "tailwindcss";
@import 'material-symbols';

@theme {
  --color-border: #c1c6d7;
  --color-primary: #0058bc;
  --color-onPrimary: #FFFFFF;
  --color-gray: #f4f3f8;
  --color-dark-gray: #717786;
  --color-background: #FAF9FE;
}

.hoverable-gray:hover {
  background-color: var(--color-gray);
}

.hoverable-underline:hover {
  text-decoration-line: underline;
}

.hoverable-primary:hover {
  background-color: #2d75c8;
}

.placeholder::placeholder {
  color: var(--color-dark-gray)
}

.text-field:focus {
  outline-width: 0;
  background-color: #f4f3f889;
}


/* index.css o App.css */
.custom-checkbox {
  /* 1. Eliminamos el diseño del sistema */
  appearance: none;
  -webkit-appearance: none;
  
  /* 2. Le damos forma de caja */
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--color-gray-300);
  border-radius: 0.25rem;
  background-color: white;
  cursor: pointer;
  display: inline-grid;
  place-content: center;
  transition: all 0.2s ease;
  aspect-ratio: 1;
}

/* 3. Estilo cuando está marcado */
.custom-checkbox:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

/* 4. El "check" (usando un pseudo-elemento) */
.custom-checkbox::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white; /* Color del check */
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.custom-checkbox:checked::before {
  transform: scale(1);
}

.bg-blur {
  filter: blur(20px);
}